.login{
    margin-bottom: 10vh;
}

.navbar {
    position: relative;
    height: 50px;
    z-index: 999999;
}

.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    /* 50% of your logo width */
    display: block;
}