.sideNav {
    margin-top: -10vh;
    height: 90vh;
    width: 120px;
    visibility: hidden;
}

.sideCon {
    margin-top: 50px;
}

.navbar {
    position: relative;
    height: 50px;
}

.navHidden{
    visibility: visible;
}

.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    /* 50% of your logo width */
    display: block;
}