.particles {
    background: black;
    max-height: 100vh;
    z-index: -1;
}

.logo-title {
	overflow: auto;
    width: 100%;
    

}

.logo {
    position: absolute;
    width: 900px;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
}

h1 {
    position: absolute;
    color: white;
    font-size: 200px;
}